/* Box Model Hack */
* {
box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/*
================= Base Styles =================
*/

body {
    font-family: 'Lato', 'Helvetica', 'Corbel', sans-serif;
}

a {
    color: #1865f2;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
}
/*
================= Layout =================
*/


/*
================= Additional Styles =================
*/

.primary-navigation {
    padding: 10px 0;
    border-bottom: 2px solid #eaebec;
}

.primary-nav-list {
    padding: 0 105px;
    display: flex;
    justify-content: space-between;
}

.form-list,
.primary-link-list {
    padding: 0;
}

.spacing {
    padding-right: 32px;
}

.primary-nav-list,
.form-list,
.primary-link-list {
    display: flex;
    align-items: center;
    margin: 0;
}

.primary-nav-list li,
.form-list li,
.primary-link-list li {
    font-weight: 700;
    font-size: 1rem;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown-text {
    padding-right: 5px;
}

.dropdown-icon {
    width: 10px;
    height: 7px;
}

.logo {
    height: 1.75rem;
    margin-top: 5px;
    display: inline-block;
    position: absolute;
    right: 43.7%;
}

/* search box */

.search-box {
    display: flex;
    align-items: center;
    background: #f0f1f2;
    padding: 10px;
    border-radius: .25rem;
}

.search {
    height: 20px;
    padding-left: 110px;
}

/* main */

.main-image {
    text-align: right;
    padding-top: 78px;
}

.learn-img {
    width: 80%;
    margin-right: 4px;
}

.main-info {
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 108px;
}

.main-image,
.main-info {
    float: left;
    width: 50%;
}

.main-heading {
    font-weight: 600;
    font-size: 3.2rem;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 34px 0 0 0;
}

.main-paragraph {
    font-weight: 400;
    line-height: 2;
    margin: 8px 0;
}

.main-heading,
.underline,
.main-paragraph {
    color: #21242c;
    margin-left: 16px;
}

.underline {
    width: 300px;
}

.info-list {
    overflow: hidden;
    margin: 36px 0 0 16px;
    padding: 0;
}

.info-list li {
    float: left;
}

.info-link {
    display: block;
    font-size: 1rem;
    text-align: center;
    color: white;
    background: #1865f2;
    padding: 11px 15px;
    border: 1px solid white;
    border-radius: .3rem;
}

.info-list li:hover {
    border: 2px solid #1865f2;
    border-radius: .3rem;
}

.info-spacing {
    margin-right: 8px;
}


/* */

.secondary-content-wrapper {
    clear: both;
    height: 100px;
    width: 100%;
    background: #f7f5f4;
    border-top: 50px solid white;
}

